.background-color-light-grey {
  background-color: rgb(238, 238, 238);
}

.footer-wrap {
  max-width: 1640px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 40px;
}

.footer-colum {
  display: flex;
  flex-direction: column;
}

.footer-colum.wrap {
  justify-content: space-between;
  padding-right: 120px;
}

@media (max-width: 1400px) {
  .footer-colum.wrap {
    padding-right: 50px;
  }
}

.footer-colum.wrap:last-child {
  padding-right: 0;
  min-width: 363px;
}

.footer-a-main {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-decoration: none;
  color: #4d4f53;
  margin-bottom: 20px;
}

.footer-wrap a[href]:hover,
.footer-wrap a[href]:active {
  color: #444444;
  text-decoration: none;
}

@media (max-width: 1700px) {
  .footer-wrap,
  .footer-down {
    max-width: 1426px;
    padding-left: 94px;
    padding-right: 94px;
  }

  .footer-colum.wrap:last-child {
    min-width: 323px;
    margin-right: 0;
  }

  .footer-down-labal {
    font-size: 22px;
  }

  .footer-a-main {
    margin-bottom: 30px;
    font-size: 20px;
  }

  :global(footer) {
    padding-top: 3rem;
  }
}

@media (max-width: 1400px) {
  .footer-colum.wrap:last-child {
    min-width: 265px;
    margin-right: 0;
  }

  .footer-a-main {
    font-size: 16px;
  }

  .footer-wrap {
    max-width: 1200px;
  }

  .footer-down {
    max-width: 1200px;
  }
}

@media (max-width: 1300px) {
  .footer-a-main {
    font-size: 16px;
  }

  .footer-wrap {
    max-width: 1100px;
  }

  .footer-down {
    max-width: 1100px;
  }
}

@media (max-width: 1200px) {
  .footer-a-main {
    font-size: 14px;
  }

  .footer-wrap {
    max-width: 1000px;
  }

  .footer-down {
    max-width: 1000px;
  }
}

@media (max-width: 1000px) {
  .footer-colum.wrap:last-child {
    min-width: auto;
    margin-right: 0;
  }

  .footer-mob {
    display: block;
  }

  .footer-wrap {
    display: none;
  }

  .footer-down {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    display: block;
  }

  :global(footer) {
    padding-bottom: 0;
  }

  .footer-down div:last-child {
    padding-bottom: 0;
  }

  .footer-down-labal {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #ffffff;
    margin-bottom: 10px;
  }

  .footer-down-in-wrap a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #ffffff;
  }
}

@media (max-width: 767px) {
  :global(footer) {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.footer-mob {
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
  display: none;
}

.footer-mob-a {
  display: flex;
  flex-direction: column;
}

.footer-mob-a a {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #4d4f53;
  margin-bottom: 20px;
}

.footer-down {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 40px;
  background-color: #cc0605;
}

.footer-d {
  background-color: #cc0605;
}

.footer-down-labal {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-down-in-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .footer-down-in-wrap.-full_mob {
    width: 100%;
  }
}

.-full_mob {
}

.footer-down-in-wrap a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
}

:global(footer) {
  padding-bottom: 0;
  padding-top: 30px;
}

.footer-wrap a[href]:hover,
.footer-wrap a[href]:active {
  color: #444444;
  text-decoration: none;
}

.footer-down__flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media only screen and (max-width: 1000px) {
  .footer-down__flex {
    flex-direction: column;
    gap: 30px;
  }
}

.footer-down__flex .ft_tel_block {
  font-size: 18px;
  margin: 0 0 50px 0;
}

@media (max-width: 1255px) {
  .footer-down__flex .ft_tel_block {
    flex-direction: column;
  }
}

.footer-down__flex .ft_tel_block_but {
  font-size: 16px;
  padding: 0 28px;
  width: auto;
  height: 52px;
  box-sizing: border-box;
}

@media only screen and (max-width: 1000px) {
  .footer-down__flex .ft_tel_block_but {
    width: 270px;
  }
}

.footer-down_m {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media only screen and (max-width: 1920px) and (min-width: 1001px) {
  .footer-down_m {
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 50px;
  }
}

@media only screen and (max-width: 1000px) {
  .footer-down_m {
    padding: 0 30px 0 30px;
    gap: 40px;
  }
}

.footer_logos {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  position: relative;
  margin: 0 0 50px 0;
}

@media (max-width: 1700px) {
  .footer_logos {
    gap: 20%;
  }
}

@media only screen and (max-width: 1000px) {
  .footer_logos {
    flex-direction: column;
    gap: 30px;
  }
}

.footer_logos a {
  text-decoration: none;
  transition: opacity 0.3s;
  background: none;
}

@media (hover: hover) and (pointer: fine) {
  .footer_logos a:hover {
    text-decoration: none;
    background: none;
    opacity: 0.7;
  }
}

.footer_logos img {
  max-height: 60px;
  display: block;
}

@media only screen and (max-width: 1000px) {
  .footer_logos img {
    max-height: 34px;
  }
}

.footer-mail {
  text-decoration: underline;
}

.ft_tel_block {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: right;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

@media only screen and (max-width: 1680px) and (min-width: 1001px) {
  .ft_tel_block {
    gap: calc(30 / 1920 * 100vw);
    font-size: calc(18 / 1920 * 100vw);
  }
}

@media only screen and (max-width: 1000px) {
  .ft_tel_block {
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
  }
}

.ft_tel_block span {
  white-space: nowrap;
}

.ft_tel_block_but {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  border-radius: 10px;
  border: 1.5px solid #edf8f7;
  background: #e90002;
  width: 224px;
  height: 52px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

@media only screen and (max-width: 1680px) and (min-width: 1001px) {
  .ft_tel_block_but {
    font-size: calc(18 / 1920 * 100vw);
    border-radius: calc(10 / 1920 * 100vw);
    width: calc(224 / 1920 * 100vw);
    height: calc(52 / 1920 * 100vw);
  }
}

@media only screen and (max-width: 1000px) {
  .ft_tel_block_but {
    width: 315px;
  }
}

.ft_tel_block_but:hover {
  background-color: #fff;
  color: #e90002;
}

.footer-right-info {
  text-align: right;
}

.footer-right-info > .title {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-right-info > .link {
  color: #ffffff;
  font-size: 10px;
}

.footer-right-info > .link > a {
  font-size: 10px;
}

.title {
}

.link {
}
