.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  color: #4d4f53;
  transition: 300ms opacity, 300ms visibility;
  opacity: 0;
  visibility: hidden;
}

.mobile-menu > .mobile-menu__in {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 30px 20px 30px;
}

.mobile-menu > .mobile-menu__in > .mobile-menu__close {
  display: flex;
  justify-content: flex-end;
}

.mobile-menu > .mobile-menu__in > .menu__item {
  font-size: 24px;
  font-weight: 700;
}

.mobile-menu > .mobile-menu__in > .menu__item:hover {
  color: #cc0605;
  text-decoration: none;
}
