 * {
  margin: 0;
  padding: 0;
  line-height: 100%;
  border: none;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
}body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}


.reserve {
  position: relative;
}.reserve > img {
  opacity: 0.5;
}




@page {
  size: A4 portrait !important;
  margin: 1cm !important;
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
}

@page {
  size: A4 portrait !important;
  margin: 0cm !important;
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
}
