@import '../styles/cleanClone.css';

@page {
  size: A4 portrait !important;
  margin: 1cm !important;
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
}

@page {
  size: A4 portrait !important;
  margin: 0cm !important;
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
}
