
.containerBorders{
      max-width: 1720px;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
}

.headerFlat{
  color: #4d4f53;
  
}
@media only screen and (max-width: 1920px) and (min-width: 1001px) {
    .containerBorders {
        max-width: 89.5833vw;
        margin: auto;
    }
     .headerFlat{
    font-weight: 500;
  }
}

/* @media only screen and (max-width: 1000px) {
    .containerBorders {
        padding-left: 5.33333vw;
        padding-right: 5.33333vw;
    }
} */

.page {
  padding-top: 100px;
}

@media (max-width: 1000px) {
  .page {
    padding-top: 54px;
    padding: 30px 50px;
  }
}

@media (max-width: 1920px) and (min-width: 1001px) {
  .page h1 {
    font-size: 1.5625vw;
  }
}

.page .page-title__det {
  margin: 0;
}

.page-title {
  position: relative;
  margin: auto;
}

.page-title__det {
}

.scroll-helper {
  position: fixed;
  bottom: 100px;
  left: 0;
}
