.container{
    max-width: 1720px;
margin-left: auto;
    margin-right: auto;
}



@media only screen and (max-width: 1920px) and (min-width: 1001px) {
    .container{
        max-width: 89.5833vw;
    }
}

.breadcrumbs {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

@media (max-width: 1000px) {
  /* .grid { grid-template-columns: 1fr; }
  .mediaViewport { min-height: 240px; }
  .title { font-size: 22px; }
  .action { display: none;}
  .printer {
    width: 14px;
    height: 14px;
  } */
  .breadcrumbs{
    display: none;
  }
}




.linkRout {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: #BDBDBD
}

.line{
 font-size: .875rem;
    color: #BDBDBD;
    content: "";
    width: 45px;
    height: 1px;
    background: #BDBDBD;
    margin: 0 11px 0 11px;
    display: inline-block;
    position: relative;
    top: -4px;
}