.scrollTopButton {
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 62px;
  height: 62px;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.visible {
  opacity: 1;
  pointer-events: auto;
}

.iconWrapper {
  width: 56px;
  height: 56px;
  background-color: #ffffff;
  border-radius: 50%;
  
}

.iconWrapper > img {

transform: translate(-7%, -6%);

}
